**pycache**/
*.py[cod]
*$py.class

qguard_env/
venv/
env/
ENV/



.ipynb_checkpoints/


*.log
logs/
*.out


*.pth
*.pt
*.ckpt
*.onnx
models/
checkpoints/


*.csv
*.xlsx
*.json
*.parquet
data/


.DS_Store
Thumbs.db


build/
dist/
*.egg-info/
.eggs/


.env
.env.*

.cache/
.pytest_cache/
.mypy_cache/


*.pid


*.tmp
*.temp
